@charset "UTF-8"

body {
    padding: 10px;
    margin: 10px;
}
article {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
}
article::after {
    content: "Gabriel de Araújo";
}