@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}
body {
    background-color: black;
    color: whitesmoke;
    font-family: android;
}
img {
    border-color: azure;
    padding: 10px;
}
header {
    background-color: rgb(60, 83, 25);
    border-radius: 0px 0px 10px 10px;
    margin: -12px;
    padding: 0px;
    border: 0px;
}
header > h1 {
    text-align: center;
    text-decoration: underline;
}
header > h2 {
    padding-left: 20px;
}
menu {
    background-color: rgb(37, 51, 16);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}
menu > a {
    color: whitesmoke;
    text-decoration: none;
    margin: 55px;
}
menu > a:hover {
    background-color: rgba(0, 0, 0, 0.438);
    text-decoration: underline;
    padding: 10px;
    border-radius: 15px;
}
main {
    background-color: rgb(22, 22, 24);
    border-radius: 15px;
    box-shadow: 1px 1px 5px azure;
}
main > h2 {
    padding-left: 20px ;
    text-decoration: underline;
}
main > p{
    padding: 10px;
}
main > iframe {
    padding-left: 300px;
}
footer {
    background-color: rgb(22, 22, 24);
    border-radius: 15px;
    box-shadow: 1px 1px 5px azure;
}
footer > p {
    padding: 10px;
}
aside {
    text-align: center;
}
aside > p > a {
    text-decoration: none;
    color: bisque;
}
aside > p > a:hover {
    text-decoration: underline overline wavy;
}
aside > p > a:hover::before {
    content: "|";
}
aside > p > a:hover::after {
    content: "|";
}