:root {
    --black001: rgb(18, 9, 32);
    --white001: rgb(241, 215, 180);
}
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
p {
    text-shadow: 2px var(--black001);
}
header {
    position: relative;
    left: -5%; top: -2%;
    margin-top: -10px;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 80px;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--black001);    
}
header > div.title {
    text-align: center;
    padding-top: 10px;
    height: 50px;
}
header > div.title > h1 > a {
    font-variant: small-caps;
    text-decoration: none;
    color: var(--white001);
}
header > div.title > h4 > a {
    text-decoration: none;
    color: var(--white001);
}
main {
    background-color: var(--white001);
}
section {
    background-color: var(--white001);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    box-shadow: 2px var(--black001);
}
section > p {
    background-color: rgba(122, 113, 95, 0.479);
    border-radius: 15px;
    padding-left: 2vw;
    width: 30vw;
    box-shadow: 1px rgb(18, 9, 32);
}
section.imagem {
    background-position: right bottom;
    color: var(--white001);
    text-shadow: 5px var(--black001);
    border-radius: 15px;
}
#one {
    background-image: url(imagens/background001.jpg);
}
#two {
    background-image: url(imagens/background002.jpg);
    color: var(--black001);
}